@import "../animations/swing";

.hero-image {
  position: relative;

  height: 100%;
  background-size: cover;
  background-image: linear-gradient(transparent -50%, rgba(58, 222, 255, 0.25)),
    url("../../../client/assets/img-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  position: absolute;

  display: flex;
  flex-direction: column;

  font: {
    weight: 600;
    family: "Protest Guerrilla", "Montserrat", "Open Sans";
  }

  color: #fffc;
  text-align: center;
}

@media (min-width: 300px) {
  .hero-text {
    left: 20%;
    bottom: 7%;
    row-gap: 12px;

    h1 {
      opacity: 0.97;
      font-size: 110px;
    }

    h2 {
      opacity: 0.95;
      font-size: 90px;
    }

    h3 {
      opacity: 0.93;
      font-size: 70px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
  .hero-text {
    bottom: 9%;
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  .hero-text {
    left: 30%;
    bottom: 7%;

    h1 {
      font-size: 90px;
    }

    h2 {
      font-size: 70px;
    }

    h3 {
      font-size: 50px;
    }
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  .hero-text {
    left: 32%;
    bottom: 12%;

    h1 {
      font-size: 70px;
    }

    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 30px;
    }
  }
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
  .hero-text {
    left: 35%;
  }
}
