@import "../animations/swing";

.hero-image {
  position: relative;

  height: 100%;
  background-size: cover;
  background-image: linear-gradient(transparent -50%, rgba(58, 222, 255, 0.25)),
    url("../../../client/assets/img-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  position: absolute;
  left: 22%;

  display: flex;
  flex-direction: column;

  font: {
    weight: 600;
    family: "Protest Guerrilla", "Montserrat", "Open Sans";
  }

  color: #fffc;
  text-align: center;
}

@media (min-width: 300px) {
  .hero-text {
    bottom: 7%;
    row-gap: 12px;

    h1 {
      opacity: 0.97;
      font-size: 110px;
    }

    h2 {
      opacity: 0.95;
      font-size: 90px;
    }

    h3 {
      opacity: 0.93;
      font-size: 70px;
    }
  }
}
