@import "../animations/swing";

.hero-image {
  position: relative;

  height: 100%;
  background-size: cover;
  background-image: linear-gradient(transparent -50%, rgba(58, 222, 255, 0.25)),
    url("../../../client/assets/img-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  color: #fffc;
  text-align: center;
  font-weight: 600;
  font-family: "Protest Guerrilla";
}

@media (min-width: 300px) {
  .hero-text {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);

    h1 {
      opacity: 0.97;
      font-size: 110px;
    }

    h2 {
      opacity: 0.95;
      font-size: 90px;
    }

    h3 {
      opacity: 0.93;
      font-size: 70px;
    }
  }
}
