.text-line {
  .single-text {
    color: black;
    font-family: "Montserrat", "Caveat";
  }

  .text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Mobile */
@media (min-width: 300px) {
  .text-line {
    padding: 40px;

    .single-text {
      font-size: 72px;
    }

    .text-group {
      row-gap: 20px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
}

/* Small Desktop */
@media (min-width: 769px) {
}

/* Large desktops */
@media (min-width: 1025px) {
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
}
