@import "utils/padding";

.nav-colored {
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(6px);
  background-color: #d9abab7c;

  .nav-link {
    color: #ffb784;
  }
}

.nav-non-colored {
  background-color: transparent;

  .nav-link {
    color: #ffeac5;
  }
}

#navbar {
  z-index: 10;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  transition: background-color 0.6s;

  #nav-links {
    display: flex;
    align-items: center;
  }

  .nav-link {
    transition: color 0.6s;
    font-family: "Caveat";
    text-decoration: none;
  }
}

/* Mobile */
@media (min-width: 300px) {
  #navbar {
    $sz: 32px;

    padding: $sz;

    #nav-links {
      column-gap: $sz;
    }

    .nav-link {
      font-size: 52px;
    }
  }
}

/* Tablets */
@media (min-width: 481px) {
  #navbar {
    $sz: 24px;

    padding: $sz;

    #nav-links {
      column-gap: $sz;
    }

    .nav-link {
      font-size: 42px;
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) {
  #navbar {
    padding: 12px;

    img {
      width: 60px;
    }
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  #navbar {
    padding: 12px;

    .nav-link {
      font-size: 36px;
    }

    img {
      width: 45px;
    }
  }
}

/* TVs and extra large screens */
@media (min-width: 1201px) {
  #navbar {
    padding: 16px;

    img {
      width: 35px;
    }
  }
}
