@keyframes Swing {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(2.5%);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-2.5%);
  }

  100% {
    transform: translateY(0);
  }
}

.swing {
  animation-name: Swing;
  animation-duration: 3s;
}
