@keyframes Swing {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

.swing {
  animation-name: Swing;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
